.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/
.netrc
**.xcodeproj
Examples/GodotProject/.godot
Examples/GodotProject/*.import
.vscode/
Examples/Sources/PlaygroundView.swift
docs/.vuepress/dist/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
.vitepress/dist/
.vitepress/cache/
node_modules/
package-lock.json
**/.godot/
**.uid
**/GodotProject/bin/
**/GodotProject/**.gdextension
**/GodotProject/**.uid
**/GodotProject/**.import
