.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/
.netrc
**.xcodeproj
Examples/GodotProject/.godot
Examples/GodotProject/*.import
.vscode/
Examples/Sources/PlaygroundView.swift
docs/
**/.godot/
**.uid
